## Part 1: Preprocessing

In [172]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [173]:
# Determine the number of unique values in each column
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [174]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [175]:
# Create a list of at least 10 column names to use as X data
x_cols = ["Age", "BusinessTravel", "DistanceFromHome", "Education", "EducationField", "HourlyRate", "JobLevel", "JobRole", "MaritalStatus", "NumCompaniesWorked"]

# Create X_df using your selected columns
X_df = attrition_df[x_cols]

# Show the data types for X_df
X_df.dtypes

Age                    int64
BusinessTravel        object
DistanceFromHome       int64
Education              int64
EducationField        object
HourlyRate             int64
JobLevel               int64
JobRole               object
MaritalStatus         object
NumCompaniesWorked     int64
dtype: object

In [176]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=1)

In [177]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder

# examine
# X_train.head()
# ordinal encoding
ordinal_columns = ["BusinessTravel"]
X_train[ordinal_columns].value_counts()
ordinal_encoder = OrdinalEncoder(categories=[["Non-Travel", "Travel_Rarely", "Travel_Frequently"]])
ordinal_encoder.fit(X_train[ordinal_columns])
X_train.loc[:, ordinal_columns] = ordinal_encoder.transform(X_train[ordinal_columns])
X_test.loc[:, ordinal_columns] = ordinal_encoder.transform(X_test[ordinal_columns])
# label encoding
label_columns = ["EducationField", "JobRole", "MaritalStatus"]
for col in label_columns:
    label_encoder = LabelEncoder()
    label_encoder.fit(X_train[col])
    X_train.loc[:, col] = label_encoder.transform(X_train[col])
    X_test.loc[:, col] = label_encoder.transform(X_test[col])

X_train.head()

,Age,BusinessTravel,DistanceFromHome,Education,EducationField,HourlyRate,JobLevel,JobRole,MaritalStatus,NumCompaniesWorked
464,37,1.0,1,3,5,59,3,4,2,4
512,27,1.0,3,4,3,54,1,6,2,0
480,30,2.0,12,4,1,74,1,8,1,1
680,36,1.0,7,4,4,65,1,6,2,2
1023,56,1.0,1,2,1,90,1,6,1,2

In [178]:
# Create a StandardScaler
std_scaler = StandardScaler()

# Fit the StandardScaler to the training data
std_scaler.fit(X_train)
# Scale the training and testing data
X_train_scaled = std_scaler.transform(X_train)
X_test_scaled = std_scaler.transform(X_test)

In [179]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
onehot_encoder_department = OneHotEncoder()

# Fit the encoder to the training data
onehot_encoder_department.fit(y_train[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_department_encoded = onehot_encoder_department.transform(y_train[['Department']])
y_test_department_encoded = onehot_encoder_department.transform(y_test[['Department']])

In [180]:
# Create a OneHotEncoder for the Attrition column
onehot_encoder_attrition = OneHotEncoder()

# Fit the encoder to the training data
onehot_encoder_department.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_attrition_encoded = onehot_encoder_department.transform(y_train[['Attrition']])
y_test_attrition_encoded = onehot_encoder_department.transform(y_test[['Attrition']])

## Part 2: Create, Compile, and Train the Model

In [181]:
# Find the number of columns in the X training data.


# Create the input layer


# Create at least two shared layers

In [182]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [183]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [184]:
# Create the model


# Compile the model


# Summarize the model

In [185]:
# Train the model

In [186]:
# Evaluate the model with the testing data

In [187]:
# Print the accuracy for both department and attrition

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1.
2.
3.